= form_with(model: @message, remote: true, class: "sticky bottom-0 flex flex-row p-2 border-gray-400 bg-gray-100 rounded-md mt-4 mr-4" ) do |f|
  = f.text_field :text, class: 'flex-grow mr-2 px-2', autocomplete: 'off'
  = f.submit 'Send with AnyCable', data: { disable_with: false }, class: 'rounded py-2 px-5 bg-red-600 text-white inline-block cursor-pointer hover:bg-red-500 transition-colors disabled:cursor-not-allowed'
